@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#f4edeb ;
}



body {
  background-color: var(--background);
}
img {
  max-width: 100%;
  height: auto;
}

/* Add these styles to your CSS file or inside a <style> tag */

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.modal-enter {
  animation: fadeIn 0.3s ease-out forwards;
}

.modal-exit {
  animation: fadeOut 0.3s ease-out forwards;
}

